@model IEnumerable<OnlineStoreWebApp.PostOffice>

@{
    ViewData["Title"] = "Post offices";
}

<div>
    @if(ViewBag.PostId == null && ViewBag.CityId == null)
    {
        <h1>Post Offices</h1>
    }
    else if (ViewBag.PostId != null)
    {
        <h1>@ViewBag.PostName post offices</h1>
    }

</div>
<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-postId="@ViewBag.PostId">Add new</a>
</p>
@if (Model.Count() > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" asp-route-postId="@ViewBag.PostId">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" asp-route-postId="@ViewBag.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
}
else
{
    <p>No postoffices exist</p>
}


@if (ViewBag.PostId != null)
{
    <a asp-action="goBack">Back to Posts list</a>
}
